/* ===========================================================
tbp - Tony Barnes Portfolio
Author: Tony Barnes
File: base css - global
/* ===========================================================*/

@import "vars.scss";

/*cross browser mixins*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin animation($animation) {
  -webkit-animation:$animation;
     -moz-animation:$animation;
       -o-animation:$animation;
          animation:$animation;
}

@mixin gradientWhiteToBlue {
  background:-moz-linear-gradient(top, #fafafa 15%, $colorBlueLight2 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(15%,#fafafa), color-stop(100%,$colorBlueLight2));
  background:-webkit-linear-gradient(top, #fafafa 15%,$colorBlueLight2 100%);
  background:-o-linear-gradient(top, #fafafa 15%,$colorBlueLight2 100%);
  background:-ms-linear-gradient(top, #fafafa 15%,$colorBlueLight2 100%);
  background:linear-gradient(to bottom, #fafafa 15%,$colorBlueLight2 100%);
}

@mixin gradientBlueToWhite {
  background:-moz-linear-gradient(top, $colorBlueLight2 15%, #fafafa 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(15%,$colorBlueLight2), color-stop(100%,$colorBlueLight2));
  background:-webkit-linear-gradient(top, $colorBlueLight2 15%,#fafafa 100%);
  background:-o-linear-gradient(top, $colorBlueLight2 15%,#fafafa 100%);
  background:-ms-linear-gradient(top, $colorBlueLight2 15%,#fafafa 100%);
  background:linear-gradient(to bottom, $colorBlueLight2 15%,#fafafa 100%);
}
