/********************
intro/home
*********************/
/*testAnimation*/
@-webkit-keyframes testAnimation {
  0%   { opacity: 0;margin-top:-500px;}
  100% { opacity: 1;margin-top:25px; }
}
@-moz-keyframes testAnimation {
  0%   { opacity: 0;margin-top:-500px;}
  100% { opacity: 1;margin-top:0; }
}
@-o-keyframes testAnimation {
  0%   { opacity: 0;margin-top:-500px;}
  100% { opacity: 1;margin-top:0; }
}
@keyframes testAnimation {
  0%   { opacity: 0;margin-top:-500px;}
  100% { opacity: 1;margin-left:25px; }
}

/*introAnimation2*/
@-webkit-keyframes introAnimation2 {
  0% {opacity: 0;margin-left:-200px;}
  80% {opacity: 0;margin-left:-200px;}
  100% {opacity: 1;margin-left:0;}
}
@-moz-keyframes introAnimation2 {
  0% {opacity: 0;margin-left:-200px;}
  80% {opacity: 0;margin-left:-200px;}
  100% {opacity: 1;margin-left:0;}
}
@-o-keyframes introAnimation2 {
  0% {opacity: 0;margin-left:-200px;}
  80% {opacity: 0;margin-left:-200px;}
  100% {opacity: 1;margin-left:0;}
}
@keyframes introAnimation2 {
  0% {opacity: 0;margin-left:-200px;}
  80% {opacity: 0;margin-left:-200px;}
  100% {opacity: 1;margin-left:0;}
}

/*introAnimation3*/
@-webkit-keyframes introAnimation3 {
  0% {opacity: 0;}
  30% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes introAnimation3 {
  0% {opacity: 0;}
  30% {opacity: 0;}
  100% {opacity: 1;}
}
@-o-keyframes introAnimation3 {
  0% {opacity: 0;}
  30% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes introAnimation3 {
  0% {opacity: 0;}
  30% {opacity: 0;}
  100% {opacity: 1;}
}

/*introAnimation4*/
@-webkit-keyframes introAnimation4 {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes introAnimation4 {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}
@-o-keyframes introAnimation4 {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes introAnimation4 {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes skillsetBarHtml {
  0% {height:0;opacity:0;}
  100% {height:95%;opacity:1;}
}
@keyframes skillsetBarCss {
  0% {height:0;opacity:0;}
  100% {height:95%;opacity:1;}
}
@keyframes skillsetBarJquery {
  0% {height:0;opacity:0;}
  100% {height:80%;opacity:1;}
}
@keyframes skillsetBarJavascript {
  0% {height:0;opacity:0;}
  100% {height:60%;opacity:1;}
}
@keyframes skillsetBarAngular {
  0% {height:0;opacity:0;}
  100% {height:30%;opacity:1;} 
}
@keyframes skillsetBarMobile {
  0% {height:0;opacity:0;}
  100% {height:80%;opacity:1;}
}



