/* ===========================================================
tbp - Tony Barnes Portfolio
Author: Tony Barnes
File: hover transitions (excluding btns which are in main scss)
/* ===========================================================*/

@import "base";

/********************
hover styles
*********************/
div.browsehappy p a:hover {
	text-decoration:none;
}

/*header*/
header .navbar-default { 

	/*logo*/
	h1 a.navbar-brand {
		&:hover, 
		&:focus,
		&:active, 
		&.active {
			color:$colorWhite;
		}
	}
	/*right nav*/
	.navbar-nav li a {
		&:hover {
			color:$colorBlueLightHeader;
		}
	}
	/*toggle nav*/
	.navbar-toggle {
		&:hover,
		&:focus {
			background:none;
		}	
	}

}
/*footer*/
footer {
	/*social icons*/
	ul.socialIcons li a:hover {
		color:$colorBlueLight;
	}
	/*footer nav*/
	.navbar-default ul.navbar-nav > li a:hover {
		color:$colorBlueLight3;
	}
	/*back to top button*/
	button.scrollTop {
		&:hover,
		&:focus, 
		&:active, 
		&.active {
			background:$colorBlueDark2;
			color:#456888;
			outline:0 none;
		}
	}
}

/*tag*/
div.tags  {
	div, 
	button {
		&:hover {
			opacity:0.85;
		}
	}
}

/********************
hover styles - page specific
*********************/

/*intro page*/
.container .jumbotron .innerBox .headshot {
	opacity:0.8;
	&:hover {
		opacity:1;
	}
}

/*about page*/
.aboutPage {
	#containerMiddle .row .col-md-12 .skillsetChart li.bar {
	  &.html {
	  	-webkit-animation: skillsetBarHtml 1s;
		  -moz-animation: skillsetBarHtml 1s;
		  -o-animation: skillsetBarHtml 1s;
		  animation: skillsetBarHtml 1s;
	  }
	  &.css {
	  	-webkit-animation: 1s skillsetBarCss;
		  -moz-animation: 1s skillsetBarCss;
		  -o-animation: 1s skillsetBarCss;
		  animation: 1s skillsetBarCss;
	  }
	  &.mobile {
		  -webkit-animation: 1s skillsetBarMobile;
		  -moz-animation: 1s skillsetBarMobile;
		  -o-animation: 1s skillsetBarMobile;
		  animation: 1s skillsetBarMobile;
	  }
	  &.jquery {
	  	-webkit-animation: 1s skillsetBarJquery;
		  -moz-animation: 1s skillsetBarJquery;
		  -o-animation: 1s skillsetBarJquery;
		  animation: 1s skillsetBarJquery;
	  }
	  &.javascript {
	  	-webkit-animation: 1s skillsetBarJavascript;
		  -moz-animation: 1s skillsetBarJavascript;
		  -o-animation: 1s skillsetBarJavascript;
		  animation: 1s skillsetBarJavascript;
	  }
	  &.angular {
	  	-webkit-animation: 1s skillsetBarAngular;
		  -moz-animation: 1s skillsetBarAngular;
		  -o-animation: 1s skillsetBarAngular;
		  animation: 1s skillsetBarAngular;
	  }
	}
}

/********************
transitions
*********************/
/*0.150s - target all elements*/
div.tags div, 
div.tags button,
.contactPage .row .col-md-12 a.contactAddress {
	-webkit-transition:all 0.1s ease-out;
	-moz-transition:all 0.1s ease-out;
	-o-transition:all 0.1s ease-out;
	transition:all 0.1s ease-out;
}

/*0.150s - target color*/
.navbar-default h1 a.navbar-brand,
.navbar-default .navbar-nav li a {
	-webkit-transition:color 0.150s ease-out;
	-moz-transition:color 0.150s ease-out;
	-o-transition:color 0.150s ease-out;
	transition:color 0.150s ease-out;
}

/*0.150s - target opacity*/
.jumbotron .innerBox .headshot {
	-webkit-transition:opacity 0.150s ease-out;
	-moz-transition:opacity 0.150s ease-out;
	-o-transition:opacity 0.150s ease-out;
	transition:opacity 0.150s ease-out;
}
