/* ===========================================================
tbp - Tony Barnes Portfolio
Author: Tony Barnes
File: upgrade browser css
/* ===========================================================*/

div.browsehappy {
	display:block !important;
	width:auto;
}
#mainContainer {
	display:none;
}