/* ===========================================================
tbp - Tony Barnes Portfolio
Author: Tony Barnes
File: intro specifics
/* ===========================================================*/

@media (min-width:1100px) {
	/*intro page*/
	.container .jumbotron {
		min-height:400px; /*fail safe for opera browser*/
		.bigBg {
			min-height:400px; /*fail safe for opera browser*/
			background-image:url(../images/intro4-1500w.jpg);
		}
	}
}

@media (min-width:992px) and (max-width: 1100px) {
	/*intro page*/
	.container .jumbotron {
		height:83%;
		max-height:515px;
		.bigBg {
			background-image:url(../images/intro4-1100w.jpg);
			background-size:100% 100%;
		}
	}
}	

@media (min-width:767px) and (max-width: 992px) {
	/*intro page*/
	.container .jumbotron {
		height:68%;
		max-height:430px;
		.bigBg {
			background-image:url(../images/intro4-992w.jpg);
			background-size:100% 100%;
		}
	}
}

@media (min-width: 768px) {
	.container .jumbotron {
	  padding:1.5em !important;
	  max-height:580px;
	  .bigBg {
	  	max-height:580px;
	  }
	}
}

@media (min-width:700px) and (max-width: 767px) {
	/*intro page*/
	.container .jumbotron {
		height:66%;
		max-height:410px;
		.bigBg {
			background-image:url(../images/intro4-767w.jpg);
			background-size:100% 100%;
		}
	}
}

@media (min-width:480px) and (max-width: 700px) {
  .container .jumbotron {
		padding:2em 1em;
		height:40%;
		max-height:400px;
		.bigBg {
			background-image:url(../images/intro4-700w.jpg);
			background-size:initial;
		}
	}
}
@media (max-width: 580px) {
	.container .jumbotron {
		.innerBox {
			display:inline-block;
			width:100%;
			border-right:0 none;
			max-width:100%;
			padding:10px;
			img.headshot {
				float:left;
				max-width:90px;
				margin-right:10px;
				margin-bottom:0;
			}
			h1 {
				font-size:45px;
			}
			h2 {
				margin-top:10px;
				margin-bottom:0;
				font-size:18px;
			}
		}
	}
}
@media (max-width: 480px) {
	.container .jumbotron {
		overflow:hidden;
		height:37%;
		max-height:370px;
		padding:0;
		.bigBg {
			display:block;
			max-height:370px;
			background-color:#13283C;
			background-image:url(../images/intro4-480w.jpg);
			background-size:100% 100%;
		}
		.innerBox {
			img.headshot {
				display:none;
			}
			h1 {
				font-size:35px;
			}
			h2 {
				font-size:15px;
			}
		}
	}
}