@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/********************
vars, mixins
*********************/
$colorBlueLight:#B9D9E9;
$colorBlueDark:#84A8b9;


/********************
main container/s
*********************/
.container {
	width:100%;
}


.navbar-default {
	background:$colorBlueLight;
	border:0 none;
	
	/*logo*/
	h1 {
		a.navbar-brand {
			color:#FFF;
			font-size:30px;
		}
	}
	/*right nav*/
	.navbar-nav {
	  li {
			a {
				color:$colorBlueDark;
			}	
		}
	}
	
}

/********************
intro stuff
*********************/
@mixin animation-name($name) {

}

@-webkit-keyframes testAnimation {
  0%   { opacity: 0;margin-left:-500px;}
  100% { opacity: 1;margin-left:40px; }
}
/*
@-moz-keyframes testAnimation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes testAnimation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes testAnimation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
*/


@-webkit-keyframes introAnimation2 {
  0% {opacity: 0;margin-left:-300px;}
  40% {opacity: 0;margin-left:-300px;}
  100% {opacity: 1;margin-left:40px;}
}

@-webkit-keyframes introAnimation3 {
  0% {opacity: 0;}
  30% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes introAnimation4 {
  0% {opacity: 0;}
  80% {opacity: 0;bottom:-100px;}
  100% {opacity: 1;bottom:0;}
}


.jumbotron {
	position:relative;
  h1,
	h2 {
	  text-align:left;
	}
	.buttons,
	h1 {
		margin-left:40px;
	}
}

.jumbotron h1 {	
	-webkit-animation: testAnimation 0.5s;
	animation: testAnimation 0.5s;
}

.jumbotron h2 > {
	span {
		display:block;
		
		&.first {
			-webkit-animation: introAnimation2 0.8s;
			animation: introAnimation2 0.8s;
		}
		&.last {
			-webkit-animation: introAnimation3 3s;
			animation: introAnimation3 3s;
		}
		
		&.last {
			clear:both;
		}	
		&.first,
		&.last {
			margin-left:40px;
		}
		/*
		&.amp,
		&.last {
			opacity:0;
		}
		*/
	}
}

.buttons {
	opacity:100;
	bottom:0;
	-webkit-animation: introAnimation4 3.2s;
	animation: introAnimation4 3.2s;
}



/********************
responsive
*********************/
@media (min-width: 1200px) {
	.container {
		width:100%;
	}

}
@media (min-width: 992px) {
	.container {
		width:100%;
	}

}
@media (min-width: 768px) {
	.container {
		width:100%;
	}
}






/********************
TB TEMP - showcase grid (made before bootstrap)
*********************/
.showcaseGalleryNav span {
	cursor:pointer;
	background:#666;
	color:#CCC;
	padding:5px;
	margin-right:5px;
}
/*
using grid approach from: http://tympanus.net/codrops/2013/04/17/responsive-full-width-grid/
- seperate appraoch for tab interface stuff
*/
.showcaseGalleryGrid {
		display:inline-block;
    margin: 35px 0 0 0;
		margin-bottom:200px;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
}
 
.showcaseGalleryGrid li {
    position: relative;
		text-align:center;
    float: left;
    overflow: hidden;
    width: 16.6666667%; /* Fallback */
    width: -webkit-calc(100% / 6);
    width: calc(100% / 6);
}
 
.showcaseGalleryGrid li a {
    display: block;
		background:#EEE;
		color:#333;
		text-decoration:none;
		min-height:100px;
		padding:2%;
    cursor: pointer;
}
.showcaseGalleryGrid li a img {
    display: block;
    width: 100%;
    cursor: pointer;
}
 
.showcaseGalleryGrid li a img {
    max-width: 100%;
}
 
/* Flexbox is used for centering the heading */
.showcaseGalleryGrid li a div {
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(71,163,218,0.2);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}
 
.showcaseGalleryGrid li a:hover div {
    opacity: 1;
}
 
.showcaseGalleryGrid li a div h3 {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: 2px;
    padding: 0 10px;
}
 
/* Example for media query: change number of items per row */
 
@media screen and (max-width: 1190px) {
    .showcaseGalleryGrid li {
        width: 20%; /* Fallback */
        width: -webkit-calc(100% / 5);
        width: calc(100% / 5);
    }
}
 
@media screen and (max-width: 945px) {
    .showcaseGalleryGrid li {
        width: 25%; /* Fallback */
        width: -webkit-calc(100% / 4);
        width: calc(100% / 4);
    }
}
 
@media screen and (max-width: 660px) {
    .showcaseGalleryGrid li {
        width: 33.3333333%; /* Fallback */
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3);
    }
}
 
@media screen and (max-width: 660px) {
    .showcaseGalleryGrid li {
        width: 33.3333333%; /* Fallback */
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3);
    }
}
 
@media screen and (max-width: 400px) {
    .showcaseGalleryGrid li {
        width: 50%; /* Fallback */
        width: -webkit-calc(100% / 2);
        width: calc(100% / 2);
    }
}
 
@media screen and (max-width: 300px) {
    .showcaseGalleryGrid li {
        width: 100%;
    }
}