.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
ul,ol {
	padding:0;
	margin:0;
}
img {
  width:100%;
  max-width:100%;
}


/********************
vars, mixins
*********************/
$colorBlack:#333;
$colorBlueLight:#B9D9E9;
$colorBlueDark:#84A8b9;
$colorBlueDark2:#7FA5B8;
$colorRedLight:#B88080;
$colorOrangeLight:#B38d6F;
$colorGreenLight:#6FB387;
$colorYellowLight:#B2B36F;
$colorGreyX:#c5c5c5;


/********************
typography
*********************/
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

::-moz-selection {
  background:$colorBlueDark2;
	color:#FAFAFA;
	text-shadow:none;
}
::selection {
  background:$colorBlueDark2;
	color:#FAFAFA;
	text-shadow:none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family:Roboto Slab, Helvetica, Arial;
}

h1,h2,h3 {
	margin-top:10px;
	margin-bottom:10px;
}

/*form elements*/
input, button, select, textarea {
  color:$colorBlack;
}

/********************
buttons
*********************/
.btn {
  border-radius:0;
}
.btn-lg, 
.btn-group-lg > .btn {
	padding:12px 20px;
}

/********************
main container/s
*********************/
body {
	background:#F3F3F3;
	color:$colorBlack;
	font-family:Roboto Slab, Helvetica, Arial;
}

/*main wrapper/container - fade in/out*/
.container {
  position: relative;
	width:100%;
	opacity:1;
}
.container.ng-enter {
	opacity:0;
  -webkit-animation: 1s fade-in;
  -moz-animation: 1s fade-in;
  -o-animation: 1s fade-in;
  animation: 1s fade-in;
  z-index: 100;
}
.container.ng-leave {
  z-index:99;
}
@keyframes fade-in {
  0% { opacity: 0; }
100% { opacity: 1; }
}
@-moz-keyframes fade-in {
  0% { opacity: 0; }
100% { opacity: 1; }
}
@-webkit-keyframes fade-in {
  0% { opacity: 0; }
100% { opacity: 1; }
}
.row {
  margin:0;
}
.col-md-6 {
	padding-left:10px;
	padding-right:10px;
}

/*shared css transitions*/
.navbar-default h1 a.navbar-brand,
.navbar-default .navbar-nav li a,
.contactPage .row .span4 a.contactAddress {
	-webkit-transition:color 0.150s ease-out;
	-moz-transition:color 0.150s ease-out;
	-o-transition:color 0.150s ease-out;
	transition:color 0.150s ease-out;
}

/*navbar*/
.navbar-default {
	background:$colorBlueLight;
	border:0 none;
	
	/*logo*/
	h1 {
	  margin:0;
		a.navbar-brand {
			color:$colorBlueDark2;
			font-size:30px;
			padding:20px 10px;
			
			&:hover {
				color:$colorBlueDark2;
			}
		}
	}
	/*right nav*/
	.navbar-nav {
	  li {
			a {
				color:#A8CADB;
				padding:20px 10px;
				&:hover {
					color:$colorBlueDark2;
				}
			}	
		}
	}
}

/*main/middle container*/
#containerMiddle {
	background:#F3F3F3;
	min-height:100%;

	.row {
		clear:both;
		width:100%;
	}
}

/*footer*/
footer {
	color:#B8B8B8;
	padding:400px 15px 0 15px;
  .navbar-default {
		background:none;
	  text-align:center;
	  float:none;
		margin-bottom:0;
		
		ul.navbar-nav  {
		  float:none !important;				
			> li {
				float:none;
				display:inline-block;
				a {
				  padding:20px;
					color:#B8B8B8;
					font-size:12px;
					&:hover {
						color:#8E8E8E;
					}
				}
			}
		}
	}
}

/********************
shared
*********************/
/*tags shared*/
div.tags div,
div.tags button {
  font-size:13px;
	padding:7px 15px;
	color:$colorBlack;
	border:0 none;
	margin:3px;
	vertical-align:middle;
	text-align:center;
	
	
	&.jQuery {
		background:#A9A9A9;
	}
	
	&.HTML5, &.CSS3 {
	  background:#BFBFBF;
	}
	&.Ecommerce {
		background:$colorBlueDark2;
	}
	&.Static {
		background:$colorRedLight;
	}
	&.jQuery {
		background:$colorOrangeLight;
	}
	&.Holding {
		background:#666;
	}
	&.Wordpress,
	&.Brand {
		background:$colorGreenLight;
	}
	&.mockups {
		background:$colorYellowLight;
	}
	
}

/*tech tags (intro only)*/
div.tags div {
	width:auto;
	float:none;
	display:inline-block;
}

/*intro*/
.container {
  padding:0;
}

div.introPage {
  footer {
		background:#B9D9E9;
		background:-moz-linear-gradient(top,  #e1f5ff 20%, #b9d9e9 90%);
		background:-webkit-gradient(linear, left top, left bottom, color-stop(20%,#e1f5ff), color-stop(90%,#b9d9e9));
		background:-webkit-linear-gradient(top,  #e1f5ff 20%,#b9d9e9 90%);
		background:-o-linear-gradient(top,  #e1f5ff 20%,#b9d9e9 90%);
		background:-ms-linear-gradient(top,  #e1f5ff 20%,#b9d9e9 90%);
		background:linear-gradient(to bottom,  #e1f5ff 20%,#b9d9e9 90%);
		filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1f5ff', endColorstr='#b9d9e9',GradientType=0 );
		ul.navbar-nav > li a {
			color:#8AB7CE;
			&:hover {
				color:#5F93AE;
			}
		}
	}
}



/*top intro message*/
.jumbotron {
	position:relative;
	height:100%;
	overflow:hidden;
	border-radius:0 !important;
	margin-bottom:0;
	
	img {			
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		max-width:none;
		height: auto;
		z-index: 1;
	}
	
  h1,
	h2,
	.buttons {
	 position:relative;
	 z-index:2;
	}
  h1,
	h2 {
	  text-align:left;
	}
	h1 {	
		-webkit-animation: testAnimation 0.5s;
		animation: testAnimation 0.5s;
		color:#FFF;
		margin-top:25px;
	}
	h2 {
		color:#DBDBDB;
		> {
			span {
				display:inline-block;
				&.first {
					-webkit-animation: introAnimation2 0.8s;
					animation: introAnimation2 0.8s;
				}
				&.last {
					-webkit-animation: introAnimation3 3s;
					animation: introAnimation3 3s;
				}
			}
		}
		
	}
	
	.buttons {
		opacity:100;
		bottom:0;
		-webkit-animation: introAnimation4 2s;
		animation: introAnimation4 2s;
	}
}

/*recent releases*/
.recentReleases {
  text-align:center;
	margin:0;
	background:$colorBlueLight;
	
	
	max-height:452px;
	overflow:hidden;
	
	.span4 {
		padding:0 15px;
		
		 h3 {
			 text-align:left;
			 color:#93B5C5;
			 font-weight:normal;
			 margin:40px 15px;
		 }
		 ul.projects {
		   /*width:1000%;*/
			 overflow:hidden;
		 }
		.col-md-4 {
			text-align:center;
			width:24.4444444444%;
			max-width:300px;
			float:left;
			opacity:0;
			-webkit-animation: testingAnimation500 0.5s;
			animation: testingAnimation500 0.5s;
					
			&:hover {		
				opacity:1;
			}
			.cont {
				padding:1em;
				img {
					width:100%;
				}
				a.title {
					display:inline-block;
					padding:5px 0;
				}
				.tags .col-md-3 {
					&::before {
						content:'';
						background:transparent;
						border: solid 1px #000;
						width: 10px;
						height: 10px;
						display: block;
						float: left;
						margin-top:3px;
						margin-right:5px;
						-webkit-border-radius:50%;
						-moz-border-radius:50%;
						border-radius:50%;
						opacity:0.20;
					}
				}
				
			}
		}
		h4 {
			clear:both;
		}
	}
	.row:last-child {
	  clear:both;
	}
}	
.row-btn-lg {
  background:$colorBlueLight;
	text-align:center;
	.btn {
		margin-top:1em;
	  margin-bottom:40px;
		background:#F3F3F3;
		color:#8CB9CF;
		border:0 none;
		
		&:hover, 
		&:focus, 
		&:active, 
		&.active {
			background:#FFF;
			color:#5F93AC;
		}
	}
}

/*recent releases - inview or not, slide in/out*/
.rRel-invisible .span4 .col-md-4 {
  opacity:0;
}
.rRel-inView .span4 .col-md-4 {
  opacity:0.88;
}
.rRel-inView .span4 .col-md-4 {
  -webkit-animation:0.5s red-to-blue;
  animation:0.5s red-to-blue;
}
@keyframes red-to-blue {
  from { margin-left:-800px;opacity:0;}
  to { margin-left:0;opacity:0.40;}
}
@-webkit-keyframes red-to-blue {
  from { margin-left:-800px;opacity:0.40;}
  to { margin-left:0;opacity:0.40;}
}


/********************
showcase home page
*********************/
.showcaseHomePage {
  .tags {
		padding:0 15px 15px 15px;
		div {
			cursor:pointer;
		}
	}
	ul.showcaseGalleryGrid {
		padding:0 10px;
		li.col-md-2 {
			padding:5px;
		}
		
		/*toggle/fade effect*/
		.showcaseGalleryToggle {
			opacity:0.85;
			-webkit-transition:ease-in-out 0.3s;
			transition: ease-in-out 0.3s;
			&:hover {
				opacity:100;
			}
			&.ng-enter,
			&.ng-leave.ng-leave-active {
				opacity:0;
			}
			&.ng-enter-active {
				opacity: 0.90;
			}
			&.ng-leave {
				display:none;
				opacity: 0;
			}
		}
	}
}


/********************
showcase individual page
*********************/
.showcaseIndPage {
  #containerMiddle {
		width:90%;
		margin:0 auto;
		max-width:1000px;
		
		.topHeading {	
		  background:#CCC;
		  margin-bottom:10px;

			h2 {
				padding:5px;
			}
			div.date,
			div.tags {
				float:right;
				padding:5px;
				text-align:right;
			}
			div.tags {
				margin:7px 0;
			}
			div.date {
				margin:19px 0;
				font-size:11px;
				color:#999;
			}
		}
		img {
			float:left;
			display:block;
			width:75.5555555555%;
		  max-width:700px;
		  margin-right:30px;
		}
		.mainContent .tags {
			clear:none;
			float:right;
			width:20%;
			> div {
				display:block;
				clear:both;
				float:right;
				margin-right:0;
				max-width:120px;
			}
		}
		.story {
			float:none;
			clear:both;
			width:auto;
		}
	}
}

/********************
about page
*********************/
.aboutPage {
	#containerMiddle {
	  
		.skillset {
		  clear: both;
		  padding: 0;
		  /*background: url("../images/bg-skillset.png") right top repeat-x;*/
		  height: 425px;
		  text-align:center;
		  margin:0 15px;
		  width:auto;
		  li {
		    display: inline-block;
		    height: 425px;
		    margin: 0 0.5% 0 0;
		    padding:0 0.5%;
		    width: 13.333333333%;
			  position: relative;
			  text-align: center;
			  vertical-align: bottom;
			  
			  &.axis {
			  	display:inline-block;
				  width:10%;
				  padding-left:0;
				  min-width:100px;
				  div {
				  	background:#EEE;
				  	border:solid 1px #CCC;
					  margin:-11.5px 0 71px 0;
					  font-size:12px;
					  padding:5px;
					  &.emptyLabel {
						  visibility:hidden;
						}
					}
				}
				&.bar {
				  background:#CCC;
				  color:#111;
				  .skill,
				  .rating {
						-ms-word-break:break-all;
						 word-break:break-all;
						 word-break:break-word;
						-webkit-hyphens:auto;
						-moz-hyphens:auto;
						hyphens:auto;
				  }
					.skill {
					  margin-top:10px;
					  overflow: hidden;
					  width: 100%;
					  font-size:16px;
					}
				  .rating {
					  width: 100%;
					  opacity:0.2;
					  margin-top:5px;
					  font-size: 16px;
					}
				}
			}
		}



	}
}


/********************
contact page
*********************/
.contactPage {
	#containerMiddle {
	  min-height:initial;
	}

	.row {
	  margin-top:15%;
	  margin-bottom:15%;
	  .span4	{
			position:relative;
			text-align:center;
			vertical-align:middle;
			
			a.contactAddress {
				font-size:50px;
				color:#D2D2D2;
				-ms-word-break:break-all;
				 word-break:break-all;
				 word-break:break-word;
				-webkit-hyphens:auto;
				-moz-hyphens:auto;
				hyphens:auto;
				
				&:hover {
					color:#B6B6B6;
				}
				
				&:hover, 
				&:focus, 
				&:active {
				  text-decoration:none;
				}
			}		
		}
	}
	
	footer {
	  padding-top:150px !important;
	}
}

/*animations*/
@import "animations.scss";


/********************
responsive
*********************/
@media (max-width: 1200px) {
	.container {
		width:100%;
	}
	.jumbotron {
		height:auto;
		min-height:80%;
		margin-bottom:0;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.recentReleases .span4 .col-md-4 {
		width:24.4444444444%;
	}
}

@media (max-width: 992px) {
	.container {
		width:100%;
	}
	footer {
	  padding-top:200px;
	}

	/*intro page*/
	.jumbotron {
		height:auto;
		min-height:50%;
		max-height:60%;
		img {
			top:-32%;
		}
	}
	.recentReleases  {
		max-height:initial;
	}

	/*showcase individual page*/
	.showcaseIndPage {
		.col-md-6 {
			float:left;
			width:50%;
		}
	}
}	

@media (min-width: 992px) {
	.container {
		width:100%;
	}
}

@media (min-width: 768px) {
	.container {
		width:100%;
	}
	.jumbotron {
	  padding:1.5em !important;
	}
}

@media (max-width: 767px) {

	.jumbotron {
	  height:50%;
		min-height:initial;
		max-height:none;
		img {
		  top:0;
		}
	}

	.recentReleases .span4 .col-md-4 {	
		width: 40%;
		max-width: 250px;
		float: none;
		display: inline-block;
		vertical-align:top;
	}
	
	/*showcase*/
	.showcaseGalleryGrid {
		text-align:center;
	  li.col-xs-3 {						
			width:33.3333333333%;
			max-width: 250px;
			float: none;
			display: inline-block;
			vertical-align: top;
		}
	}

	/*showcase individual page*/
	.showcaseIndPage {
		#containerMiddle {


			.topHeading {
				padding-bottom:10px;
				h2 {
					padding:0;
				}
				div.tags,
				div.date {
					float:left;
					text-align:left;
					margin:0;
					padding:0;
				}
				div.date {
					margin:11px 5px;
				}
			}

			.col-md-6,
			.col-md-12 img {
				float:none;
				clear:both;
				width:100%;
			}
			.col-md-12 {
				div.tags {
					clear:both;
					width:100%;
					> div {
						display:inline-block;
						float:none;
						margin-right:10px;
						margin-bottom:0;
					}
				}
			}
			/*
			div.left,
			div.right {
				float:none;
				width:100%;
				padding:0;
				img {
					width:100%;
					max-width:100%;		
				}
			}*/
			div.tags div {
				margin:10px 10px 10px 0;
			}
		}
	}

	/*about page*/	
  .aboutPage #containerMiddle {
		.skillset li {
	  	display: block;
		  height: 125px;
		  width:100%;

		  &.axis {
		    display:none;
		  }
			&.bar {
		    margin-bottom:2px;
		    height:auto !important;
		    .skill {
		    	margin:0;
		    }
			}
	  }
	}

	/*contact page*/
	.contactPage  {
	  .row .span4 a.contactAddress {
		  font-size:33px;
			color:#B6B6B6;
		}
	}
	
}

@media (max-width: 700px) {
	footer {
	  padding-top:100px;
	}
  .jumbotron {
	  height:auto;
		padding:2em 1em;
		h1 {
		  margin-top:0;
		}
	}
}
@media (max-width: 480px) {
	.btn {
	  width:100%;
		padding:14px 20px;
	}
	.jumbotron {
		overflow:hidden;
		height:auto;
		text-align:center;
		img {
			width:150%;
			min-height:350px;
			margin:0 -25%;
		}
		h1,
		h2,
		.buttons {
			text-align:center;
			.btn {
				width:auto;
			  min-width:40%;
				&:first-child {
				  margin-right:3.3333333333%;
				}
			}
		}
		
	}
	.recentReleases .span4 {
	  h3 {
	    text-align:center;
	  }			
		.col-md-4 {	
			width:100%;
			max-width:300px;
			float:none;
		}
	}
	/*showcase*/
	.showcaseGalleryGrid {
	  li.col-xs-3 {						
			width:40%;
			max-width:250px;
		}
	}
	
	/*contact page*/
	.contactPage  {
	  .row .span4 a.contactAddress {
		  font-size:22px;
		}
	}
	
}


@media (max-width: 300px) {
	.recentReleases .span4 .col-md-4 {	
		max-width:100%;
	}
}










