/*$icon-font-path: "/bower_components/sass-bootstrap/fonts/";*/

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/********************
main container
*********************/
.container {
	width:100%;
}



/********************
responsive
*********************/
@media (min-width: 1200px) {
	.container {
		width:100%;
	}

}
@media (min-width: 992px) {
	.container {
		width:100%;
	}

}
@media (min-width: 768px) {
	.container {
		width:100%;
	}
}






/********************
TB TEMP - showcase grid (made before bootstrap)
*********************/
.showcaseGalleryNav span {
	cursor:pointer;
	background:#666;
	color:#CCC;
	padding:5px;
	margin-right:5px;
}
/*
using grid approach from: http://tympanus.net/codrops/2013/04/17/responsive-full-width-grid/
- seperate appraoch for tab interface stuff
*/
.showcaseGalleryGrid {
		display:inline-block;
    margin: 35px 0 0 0;
		margin-bottom:200px;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
}
 
.showcaseGalleryGrid li {
    position: relative;
		text-align:center;
    float: left;
    overflow: hidden;
    width: 16.6666667%; /* Fallback */
    width: -webkit-calc(100% / 6);
    width: calc(100% / 6);
}
 
.showcaseGalleryGrid li a {
    display: block;
		background:#EEE;
		color:#333;
		text-decoration:none;
		min-height:100px;
		padding:2%;
    cursor: pointer;
}
.showcaseGalleryGrid li a img {
    display: block;
    width: 100%;
    cursor: pointer;
}
 
.showcaseGalleryGrid li a img {
    max-width: 100%;
}
 
/* Flexbox is used for centering the heading */
.showcaseGalleryGrid li a div {
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(71,163,218,0.2);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}
 
.showcaseGalleryGrid li a:hover div {
    opacity: 1;
}
 
.showcaseGalleryGrid li a div h3 {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: 2px;
    padding: 0 10px;
}
 
/* Example for media query: change number of items per row */
 
@media screen and (max-width: 1190px) {
    .showcaseGalleryGrid li {
        width: 20%; /* Fallback */
        width: -webkit-calc(100% / 5);
        width: calc(100% / 5);
    }
}
 
@media screen and (max-width: 945px) {
    .showcaseGalleryGrid li {
        width: 25%; /* Fallback */
        width: -webkit-calc(100% / 4);
        width: calc(100% / 4);
    }
}
 
@media screen and (max-width: 660px) {
    .showcaseGalleryGrid li {
        width: 33.3333333%; /* Fallback */
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3);
    }
}
 
@media screen and (max-width: 660px) {
    .showcaseGalleryGrid li {
        width: 33.3333333%; /* Fallback */
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3);
    }
}
 
@media screen and (max-width: 400px) {
    .showcaseGalleryGrid li {
        width: 50%; /* Fallback */
        width: -webkit-calc(100% / 2);
        width: calc(100% / 2);
    }
}
 
@media screen and (max-width: 300px) {
    .showcaseGalleryGrid li {
        width: 100%;
    }
}