/*****************************************
tbp - Tony Barnes Portfolio
Author: Tony Barnes
More things here
******************************************/

@import "intro";
@import "animations";

/********************
responsive
*********************/
@media (max-width: 1200px) {
	.container {
		width:100%;
	}
}

@media (min-width: 1000px) {
	@import "hover-transitions";
}

@media (max-width: 1000px) {
	#containerMiddle {
		margin:0;
		max-width:100%;
	}

	/*global sections, headings, typography*/
	h3,.h3 {
		font-size:20px;
	}

	/*large headings/sections*/
	div.introPage div.subIntro {
		h3 {
			padding:25px 15px;
		}
		.col-md-12 {
			padding-top:30px;
			padding-bottom:60px;
		}
		&.row-btn-lg	.col-md-12 {
			padding:40px 15px 80px 15px;
		}
	}

}

@media (min-width: 768px) and (max-width: 992px) {
	.recentReleases .span4 .col-md-4 {
		width:24.4444444444%;
	}
}

@media (max-width: 992px) {
	.container {
		width:100%;
	}

	/*about page*/
	.aboutPage #containerMiddle .row  {
		.col-md-4 {
			float:left;
			width:49%;
			position: relative;
			min-height:1px;
			padding-left:0;
			padding-right:0;
			padding-bottom:15px;
			&.tools {
				float:right;
			}
			&:last-child {
				clear:both;
				width:100%;
				padding-bottom:0;
			}
		}
	}

	/*showcase individual page*/
	.showcaseIndPage {
		.col-md-6 {
			float:left;
			width:50%;
		}
	}
}	

@media (min-width: 992px) {
	.container {
		width:100%;
	}
}

@media (min-width: 768px) {
	.container {
		width:100%;
	}
}

@media (max-width: 767px) {
	.navbar-default {
		margin-bottom:20px;
		.navbar-collapse {
			padding-left:15px;
		}
		.navbar-nav {
			margin:0;
			li a {
				padding:7.5px 10px;
				color:$colorBlueDark;
				text-align:right;
			}
		}
	}
	footer {
		.navbar-default ul.navbar-nav > li a {
			padding-bottom:15px;
		}
		ul.socialIcons {
			padding:7px 7px 50px 0;
		}
	}

	/*intro page*/
	.recentReleases {
		.span4 {
		  h3 {
		    text-align:center;
		    margin-bottom:0;
		  }			
		  ul.projects {
		  	padding:0 10px;
		  	.col-md-4 {	
					width:50%;
					max-width:250px;
					float:none;
					padding:15px;
				}
		  }
		  .col-md-4 {	
				width:50%;
				max-width: 250px;
				float: none;
				display: inline-block;
				vertical-align:top;
				.cont {
					img {
						opacity:1;
					}
					div.tags {
						display:none;
					}
				}
			}
		}
	}

	/*about page*/
	.aboutPage #containerMiddle .row  {
		.col-md-4 {
			float:none;
			clear:both;
			width:100%;
		}
	}
	
	/*showcase*/
	.showcaseGalleryGrid {
		text-align:center;
	  li.col-xs-3 {						
			width:33.3333333333%;
			max-width: 250px;
			float: none;
			display: inline-block;
			vertical-align: top;
		}
	}

	/*showcase individual page*/
	.showcaseIndPage {
		#containerMiddle {

			.topHeading {
				background:none;
				h2 {
					padding:0;
					margin-bottom:0;
					font-size:22px;
				}
				div.tags,
				div.date {
					float:left;
					text-align:left;
					margin:0;
					padding:0;
				}
				div.last {
					display:none;
				}

				div.date {
					margin:11px 5px;
				}
			}
			.mainContent {
				.col-md-12 {
					padding-left:0;
					padding-right:0;
				}
			}

			.col-md-6,
			.col-md-12 img {
				float:none;
				clear:both;
				width:100%;
			}
			.col-md-12 {
				div.tags {
					clear:both;
					width:100%;
					> div {
						display:inline-block;
						float:none;
						margin-right:10px;
						margin-bottom:0;
					}
				}
			}
			div.tags div {
				margin:10px 10px 10px 0;
			}
		}
	}

	/*about page*/	
  .aboutPage #containerMiddle {
  	.row .col-md-12 {
  		h4 {
  			margin-bottom:10px;
  		}
  	}
		.row .col-md-12 .skillsetChart {
			height:auto;
			margin:20px 0;
			li {
		  	display: block;
			  height: 125px;
			  width:100%;

			  &.axis {
			    display:none;
			  }
				&.bar {
			    margin-bottom:2px;
			    height:auto !important;
					-webkit-transition:none !important;
					-moz-transition:none !important;
					-o-transition:none !important;
					transition:none !important;
					-webkit-animation:none !important;
					animation:none !important;
					padding:10px 0;
					.skill,
					.rating {
						width:auto;
						display:inline-block;
						margin-top:0;
						vertical-align:middle;
						padding:0 10px;
					}
			    .skill {
			    	margin:0;
			    }
			    .rating {
			    	opacity:0.5;
			    }
				}
			}
	  }
	}

	/*contact page*/
	.contactPage  {
	  .row .span4 a.contactAddress {
		  font-size:33px;
		}
	}
	
}

@media (max-width: 480px) {
	.btn {
	  width:100%;
	  margin:0 0 15px 0;
		padding:14px 20px;
	}

	/*intro page*/
	div.introPage {
		.recentReleases .span4 ul.projects .col-md-4 {
			padding:7.5px 5px;
		}	
		div.subIntro.row-btn-lg .col-md-12 {
			a.btn {
				width:100%;
				margin:0 0 15px 0 !important;
			}
		}
	}
		
	
	/*about page*/
	.aboutPage #containerMiddle .skillsetList > div {
		ul {
			font-size:13px;
		}
	}

	/*showcase page*/
	.showcaseGalleryGrid {
	  li.col-xs-3 {						
			width:40%;
			max-width:250px;
		}
	}
	
	/*contact page*/
	.contactPage  {
	  .row .span4 a.contactAddress {
		  font-size:22px;
		}
	}
	
}


@media (max-width: 300px) {
	.recentReleases .span4 .col-md-4 {	
		max-width:100%;
	}
}