/* ===========================================================
tbp - Tony Barnes Portfolio
Author: Tony Barnes
File: media queries, rwd
/* ===========================================================*/

@import "base";
@import "intro";

/********************
responsive
*********************/
@media (max-width: 1400px) {
	.navbar-default .inner,
	footer .inner {
		max-width:100%;
	}
}

@media (max-width: 1200px) {
	.container {
		width:100%;
	}
}
	
@media (max-width: 1000px) {
	#containerMiddle {
		margin:0;
		max-width:100%;
	}

	/*global sections, headings, typography*/
	h3,.h3 {
		font-size:20px;
	}

	.btn-lg, 
	.btn-group-lg > .btn {
		padding:20px;
	}

	/*large headings/sections*/
	div.introPage {
		 div.subIntro {
			h3 {
				padding:25px 15px;
			}
			.col-md-12 {
				padding-top:30px;
				padding-bottom:60px;
			}
			&.row-btn-lg	.col-md-12 {
				padding:40px 15px 80px 15px;
			}
		}
	}
	/*gallery list item hover*/
	ul,
	.showcaseHomePage ul.showcaseGalleryGrid {
		li[active-hover],
		li[active-hover]:hover {
			padding:5px;
		}
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.recentReleases .span4 .col-md-4 {
		width:24.4444444444%;
	}
}

@media (max-width: 992px) {
	.container {
		width:100%;
	}
	.btn-primary,
	.btn-lg {
		font-size:19px;
	}

	/*container for 2 large buttons in a row*/
	.row-btn-lg {
		padding:40px 0;
		.btn {
			width:45%;
			margin:0 15px !important;
		}
	}

	/*gallery list item hover*/
	ul,
	.showcaseHomePage ul.showcaseGalleryGrid {
		li[active-hover] {
			padding:5px;
			&.inactive,
			&.active {
				opacity:1 !important;
			}
			&:hover {
				-moz-box-shadow:none;
				-webkit-box-shadow:none;
				box-shadow:none;
				padding:5px;
				opacity:1;
				.miniPanel {
					bottom:-100%;
					display:none;
					opacity:0;
				}
			}
		}
	}
	

	/*about page*/
	.aboutPage #containerMiddle .row  {
		.col-md-4 {
			float:left;
			width:49%;
			position: relative;
			min-height:1px;
			padding-left:0;
			padding-right:0;
			padding-bottom:15px;
			&.tools {
				float:right;
			}
			&:last-child {
				clear:both;
				width:100%;
				padding-bottom:0;
			}
		}
		&.skillsetChartWrapper .col-md-12 .skillsetChart {
			li.bar {
				.skill,
				.rating {
					font-size:14px;
				}
			}
		}
	}
}	

@media (min-width: 992px) {
	.container {
		width:100%;
	}
}

@media (min-width: 768px) {
	.container {
		width:100%;
	}
}

@media (max-width: 767px) {
	/*container for 2 large buttons in a row*/
	.row-btn-lg {
		.btn {
			width:80%;
			margin:0 0 15px 0 !important;
		}
	}

	h2 {
		font-size:22px;
	}
	/*sub page heading bg (eg about/showcase.ind)*/
	.row .col-md-12 h4 {
		margin-bottom:10px;
		font-size:16px;
	}

	#containerMiddle .row.smallBox .col-md-12 {
		h4 {
			font-size:30px;
		}
	}

	.navbar-default {
		margin-bottom:40px;
		.navbar-collapse {
			padding-left:15px;
		}
		.navbar-nav {
			margin:0;
		}
	}
	header .navbar-default {
		/*toggle nav*/
		.navbar-nav {
			text-align:right;
			> li {
				display:inline-block;
				margin-left:12px;
				> a {
					padding:10px 15px;
					color:$colorWhite;
					background:#5795B5;
					text-align:center;
					display:inline-block;
				}
			}
		}
	}
	footer {
		/*show the first back to top button*/
		button.scrollTop {
			display:block;
		}
		.navbar-default ul.navbar-nav > li a {
			padding-bottom:15px;
		}
		ul.socialIcons {
			padding:7px 7px 30px 0;
		}
	}
	/*small box (eg contact/error pages)*/
	.container #containerMiddle .row.smallBox {
		margin:0 auto;
		width:80%;
		max-width:80%;
		.col-md-12 {
			text-align:center;
			border:0 none;
			margin:0 15px;
			h4 {
				text-align:center;
			}
		}
	}


	/*intro page*/
	.recentReleases {
		.span4 {
		  h3 {
		    text-align:center;
		    margin-bottom:0;
		  }			
		  ul.projects {
		  	padding:0 10px;
		  	.col-md-4 {	
					width:50%;
					max-width:250px;
					float:none;
					padding:15px;
				}
		  }
		  .col-md-4 {	
				width:50%;
				max-width: 250px;
				float: none;
				display: inline-block;
				vertical-align:top;
			}
		}
	}

	/*about page*/
	.aboutPage {
		#containerMiddle .row  {
			.col-md-4 {
				float:none;
				clear:both;
				width:100%;
			}
		}
	}
	/*showcase home page*/
	.showcaseHomePage {
		.tags {
			text-align:center;
			button {
				width:32.22222222%;
			}
		}
		ul.showcaseGalleryGrid {
			text-align:center;
		  li.col-xs-3 {						
				width:33.3333333333%;
				max-width: 238px;
				float: none;
				display: inline-block;
				vertical-align: top;
			}
		}
		#containerMiddle .row.disclaimer .col-md-12 p {
			margin-bottom:30px;
		}
	}

	/*showcase individual page*/
	.showcaseIndPage {
		header .navbar-default {
			margin-bottom:0;
		}
		#containerMiddle .row {
			> .row.topHeading h2 {
				margin-bottom:0;
				> span span.date {
					display:none;
				}
			}
			> .row.imgWrap > .col-md-12 {
				padding-bottom:30px;
			}
			> .row .deliver .col-md-12:last-child {
				padding-bottom:0;
			}
			> .story img {
				width:auto;
				max-width:100%;
			}
		}
	}

	/*about page*/	
  .aboutPage #containerMiddle {
		.row .col-md-12 .col-md-12 .skillsetChart {
			height:auto;
			margin:20px 0;
			li {
		  	display: block;
			  height: 125px;
			  width:100%;

			  &.axis {
			    display:none;
			  }
				&.bar {
			    min-height:42px !important;
			    height:auto !important;
					-webkit-transition:none !important;
					-moz-transition:none !important;
					-o-transition:none !important;
					transition:none !important;
					-webkit-animation:none !important;
					animation:none !important;
					padding:10px 0;
					border-right:0 none;
					text-align:left;
			    margin-bottom:1px;

			    /*main skill seperators*/
			    &.css,
			    &.jquery,
			    &.javascript,
			    &.angular {
			    	margin-bottom:4px;
			    }
					.skill,
					.rating {
						width:auto;
						display:inline-block;
						margin-top:0;
						vertical-align:middle;
						padding:0 10px;
						font-size:15px;
					}
			    .skill {
			    	margin:0;
			    	float:left;
			    }
			    .rating {
			    	margin-bottom:0;
			    	opacity:0.5;
			    	float:right;
			    }
				}
			}
	  }
	}

	/*contact page*/
	.contactPage  {
		#containerMiddle {
			.row {
		  	.col-md-12 {
			  	a.contactAddress {
					  font-size:30px;
					}
				}
		  }

		}
	}
}
@media (max-width: 600px) {

	#containerMiddle .row.smallBox .col-md-12 {
		h4 {
			font-size:27px;
		}
	}

	/*gallery list item hover*/
	ul,
	.showcaseHomePage ul.showcaseGalleryGrid {
		li[active-hover],
		li[active-hover]:hover {
			padding:3px;
		}
	}

	.showcaseHomePage {
		.tags button {
			min-height:56px;
			font-size:13px;
			width:49%;
		}
	}

	/*showcase individual page*/
	.showcaseIndPage #containerMiddle .imgWrap .col-md-12 {
		img {
			margin-top:0;
		}
	}

	/*about page*/
	.aboutPage #containerMiddle .skillsetList ul.ratingKey {
		display:none;
	}
}

@media (max-width: 480px) {
	/*container for 2 large buttons in a row*/
	.row-btn-lg {
		.btn {
			width:100%;
			margin:0 0 15px 0 !important;
		}
	}
	h2 {
		font-size:18px;
	}
	#containerMiddle .row.smallBox .col-md-12 {
		h4 {
			font-size:22px;
		}
	}
	header {
		.navbar-default {
			h1 a.navbar-brand {
				font-size:25px;
			}
		}
		.navbar-nav > li > a {
			font-size:13px;
		}
	}

	footer {
		.col-md-6 {
			width:100%;
			clear:both;
			float:none;
			/*hide the first back to top button*/
			&.right {
				display:none;
			}
		}
		/*show the last back to top button*/
		.col-md-12 {
			&.last {
				display:block;
				button.scrollTop {
					float:none;
					font-size:15px;
					margin:15px 0 0 0;
				}
			}
		}
		.navbar-default ul.navbar-nav > li {
			clear:both;
			display:block;
			a {
				padding:20px 15px;
			}
		}
	}
	.btn {
	  width:100%;
		font-size:17px;
	  margin:0 0 15px 0;
		padding:15px 20px;
	}
	/*small box (eg contact/error pages)*/
	.container #containerMiddle .row.smallBox {
		width:100%;
		max-width:100%;
		.col-md-12 {
			br {
				display:none;
			}
		}
	}


	/*gallery list item hover*/
	ul,
	.showcaseHomePage ul.showcaseGalleryGrid {
		li[active-hover] {
		&:hover .miniPanel,
			.miniPanel {
				display:none !important;
			}
			&:hover {
				padding:2px;
			}
		}
	}

	/*intro page*/
	div.introPage {
		.recentReleases .span4 ul.projects .col-md-4 {
			padding:7.5px 5px;
		}
	}
	/*about page*/
	.aboutPage #containerMiddle {
		.skillsetList > div {
			ul {
				font-size:13px;
			}
		}
		.randomStuff ul li {
			width:100%;
			clear:both;
		}
	}
	/*showcase page*/
	.showcaseHomePage {
		ul.showcaseGalleryGrid {
		  li.col-xs-3 {						
				width:50%;
				padding:2px;
				max-width:238px;
			}
		}
	}

	/*contact page*/
	.contactPage  {
	  #containerMiddle .row .col-md-12 {
	  	a.contactAddress {
			  font-size:22px;
			}
	  }
	}
	/*error page*/
	.errorPage {
		#containerMiddle .row .col-md-12 {
			.btn {
				margin-bottom:0;
			}
		}
	}
}

@media (max-width: 350px) {
	#containerMiddle .row.smallBox .col-md-12 {
		h4 {
			font-size:20px;
		}
	}

	/*showcase home page*/
	.showcaseHomePage {
		div.tags div.Static, div.tags button {
			width:100%;
			min-height:40px;
		}
	}
	/*contact page*/
	.contactPage #containerMiddle .row .col-md-12 a.contactAddress {
		font-size:20px;
	}
}
@media (max-width: 300px) {
	.navbar-default h1 a.navbar-brand {
		font-size:22px;
	}
	.recentReleases .span4 .col-md-4 {	
		max-width:100%;
	}
	/*showcase home page*/
	.showcaseHomePage ul.showcaseGalleryGrid li.col-xs-3 {
		width:100%;
		clear:both;
	}
}