/********************
vars, mixins
*********************/
$colorBlack:#888;
$colorWhiteBright1:#F1F1F1;
$colorWhiteBright2:#FCFCFC;
$colorWhite:#E7E7E7;
$colorBlueLight:#396A98;
$colorBlueDark:#274969;
$colorRedLight:#B88080;
$colorOrangeLight:#B38d6F;
$colorGreenDark:#1E613F;
$colorGreenLight:#4D8D6D;
$colorYellowLight:#B2B36F;
$colorGreyX:#c5c5c5;