/*****************************************
tbp - Tony Barnes Portfolio
Author: Tony Barnes
More things here
******************************************/

/********************
vars, mixins
*********************/
$colorBlack:#222;
$colorGrey:#c5c5c5;

$colorWhiteBright1:#F1F1F1;
$colorWhiteBright2:#FCFCFC;
$colorWhite:#E7E7E7;

$colorBlueLight:#396A98;
$colorBlueLight2:#2D5981;
$colorBlueDark:#274969;
$colorBlueDark2:#1C3750;


$colorRedLight:#B88080;
$colorOrangeLight:#B38d6F;

$colorGreenDark:#1E613F;
$colorGreenLight:#4D8D6D;

$colorYellowLight:#B2B36F;
