/* ===========================================================
tbp - Tony Barnes Portfolio
Author: Tony Barnes
File: vars
/* ===========================================================*/

/********************
vars
*********************/

/*black, grey*/
$colorBlack:#222;
$colorGrey:#C5C5C5;

/*white, light grey*/
$colorWhite:#FCFCFC;
$colorWhite2:#D8D8D8;

/*blue*/
$colorBlueLight:#6FB1D3;
$colorBlueLight2:#DBF0FB;
$colorBlueLight3:#628BB1;
$colorBlueLightHeader:#4B86A4;
$colorBlueLightBody:#104864;

$colorBlueDark:#074A6D;
$colorBlueDark2:#1C3750;

/*red, orange*/
$colorRedLight:#B88080;
$colorOrangeLight:#B38d6F;

/*green*/
$colorGreenLight:#539574;
$colorGreenDark:#1E613F;
$colorGreenDark2:#134D30;

/*other*/
$colorYellowLight:#B2B36F;
$colorPinkLight:#D381A9;