<link rel="stylesheet" href="demo_assets/listIconManipulator/styles/foundation.css">
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="demo_assets/listIconManipulator/styles/demo.css">
<link rel="stylesheet" href="demo_assets/listIconManipulator/styles/lim.styles.min.css">
<script src="demo_assets/template/vendor/custom.modernizr.js"></script>

<div id="containerMiddle">
  <div class="row">
      <header>
      <div class="contain-to-grid sticky">
        <nav class="top-bar" data-options="is_hover:false">
         <ul class="title-area">
            <li class="name">
              <h1><a href="" scroll-to="sectionIntro">List Icon Manipulator</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href=""><span>Nav</span></a></li>
          </ul>
          <section class="top-bar-section">
            <ul class="left">
              <li><a href="" scroll-to="sectionIntro">About</a></li>
              <li><a href="" scroll-to="sectionInstallation">Install</a></li>
              <li><a href="" scroll-to="sectionOptions">Options</a></li>
              <li class="download"><a ng-href="https://github.com/ttbarnes/List-Icon-Manipulator/">Download</a></li>
            </ul>
          </section>
        </nav>
      </div>
      </header>

      <div class="row">
        <div class="large-12 columns" id="sectionIntro">
          <div class="content">
            <h2>Custom bullet points and list icons</h2>
            <div class="topLimExampleWrapper">

              <div class="large-3 columns">
                <div class="panel">
                  <div class="innerWrap">
                    <ul class="egTop1">
                      <li>Cred Intelligentsia ennui, High Life lomo selvage bespoke</li>
                        <ul class="egTop2">
                          <li>Art party sartorial drinking vinegar post-ironic authentic</li>
                        </ul>
                        <ul class="egTop3">
                          <li>2 Cred Intelligentsia ennui, selvage bespoke</li>
                        </ul>
                        <ul class="egTop4">
                          <li>Ugh Shoreditch Pinterest, hella Terry Richardson</li>
                        </ul>
                        <ul class="egTop5">  
                          <li><a href="#">Drinking vinegar flannel post-ironic bitters chambray Neutra</a></li>
                        </ul>
                      </ul>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns" id="sectionTooltips">
          <div class="content">
            <h2>Include tooltips</h2>
            <div class="innerWrap">
              <ul>
                <li>Art party sartorial drinking vinegar post-ironic authentic</li>
                <ul>
                  <li>Twee meggings street art quinoa fashion axe, post-ironic</li>
                </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="sectionExamples">
        <div class="large-12 columns" id="sectionExamples">
          <div class="content">
            <h2>Examples</h2>
            <div class="large-2 columns">
              <div class="panel">
                <h5>Custom bullet point, text</h5>
                  <ul>
                    <li>2 Cred Intelligentsia ennui, selvage bespoke</li>
                  </ul>
                  <ul>
                    <li>Art ironic authentic</li>
                  </ul>
                  <ul>
                    <li>Shoreditch, hella Terry Richardson</li>
                  </ul>
                  <ul>  
                    <li>Speculative vinegar post bitters</li>
                  </ul>
              </div>
            </div>
            <div class="large-2 columns">
              <div class="panel">
                <h5>Custom icon/image</h5>
                <ul>
                  <li>Intelligentsia ennui, High Life lomo</li>
                </ul>
                <ul>
                  <li>Shoreditch, hella Terry Richardson</li>
                </ul>
                <ul>
                  <li>Art ironic authentic</li>
                </ul>
                <ul>  
                  <li>Twee meggings street art quinoa</li>
                </ul>
              </div>
            </div>
             <div class="large-2 columns">
              <div class="panel">
                <h5>Tooltip</h5>
                  <ul>
                    <ul class="moreInfo">
                      <li>2 Cred Intelligentsia ennui, selvage bespoke</li>
                    </ul>
                    <li>Twee meggings street art quinoa, post-ironic</li>
                    <ul class="warning">
                      <li>Speculative vinegar post bitters</li>
                      <li>Shoreditch, hella Terry Richardson</li>
                    </ul>                
                    <li>Intelligentsia ennui, High Life lomo</li>
                  </ul>
                  
              </div>
            </div>
            <div class="large-2 columns">
              <div class="panel">
                <h5>All together</h5>
                <ul class="featured">
                  <li>Featured list item</li>
                </ul>
                <ul class="textReplace"> 
                  <li>Pure text replacement</li>
                </ul>
                <ul class="cool"> 
                  <li>Cool icon/image</li>
                </ul>
                <ul class="toolTipMe">
                  <li>Tooltip me - hella Terry Richardson</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns" id="sectionDownload">
          <div class="content">
            <h2>Download</h2>
            <p class="small">Latest version: 1.1.2 <br/>Size: 3KB minified</p>
            
            <div class="large-1">
              <div class="row">
                <div class="githubBtns">
                  <iframe src="http://ghbtns.com/github-btn.html?user=ttbarnes&repo=List-Icon-Manipulator&type=watch"
      allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
                 <iframe src="http://ghbtns.com/github-btn.html?user=ttbarnes&repo=List-Icon-Manipulator&type=fork"
      allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
                </div>
              </div>
              <div class="row">
                <a href="http://github.com/ttbarnes/List-Icon-Manipulator" class="large button github">GitHub</a>
                <p class="small"><a href="http://github.com/ttbarnes/List-Icon-Manipulator">github.com/ttbarnes/List-Icon-Manipulator</a></p>
              </div>
              <div class="row rowShare">
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Custom bullet points and list icons with jQuery:" data-via="ttbarnes" data-related="ttbarnes" data-hashtags="ListIconManipulator">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns" id="sectionInstallation">
          <div class="content">
            <h2>Installation</h2>
            
            <div class="innerWrap">
            
              <div class="row">
              <h5>1) Create a list</h5>
               <div class="code">
                <p>&lt;ul id=&quot;listExample&quot;&gt;<br />
                 &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;Dummy list item 1&lt;/li&gt;<br />
                 &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;Dummy list item 2&lt;/li&gt;<br />
                 &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;Dummy list item 3&lt;/li&gt;<br />
                 &lt;/ul&gt;</p>
               </div>
             </div>
           
           
             <div class="row">
               <h5>2) Include css</h5>
               <div class="code">
                 <p>&lt;link rel=&quot;stylesheet&quot; href=&quot;css/lim.styles.css&quot;&gt;</p>
               </div>
             </div>
              
              
             <div class="row">
               <h5>3) Include jQuery/JavaScript</h5>
               <div class="code">
                 <p>&lt;script src=&quot;http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js&quot;&gt;&lt;/script&gt;<br />
                 &lt;script src=&quot;js/listIconManipulator.1.1.2.min.js&quot;&gt;&lt;/script&gt;</p>
               </div>
             </div>
              
              
              
             <div class="row">
               <h5>4) Initialise List Icon Manipulator</h5>
              
               <div class="code">
                 <p>$('#listExample').listIconManipulator({<br />
                 &nbsp;&nbsp;&nbsp;&nbsp;content: {<br />
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iconContent:'!&gt;',<br />
                 &nbsp;&nbsp;&nbsp;&nbsp;}<br />
                 });</p>
               </div>
             </div>
           </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns" id="sectionOptions">
          <div class="content">
            <h2>Options</h2>
            
            <div class="innerWrap">
              <div class="row">
                <div class="code codeJs">
                  <p>iconContent:'&lt;img src=&quot;img/icon-warning.png&quot; alt=&quot;Warning&quot;/&gt;', //custom icon; text/html<br /></p>
                     <p>tooltip:true, //optional tooltip (can remove)<br /></p>
                     <p class="last">tooltipContent:'My tooltip content! &lt;a href=&quot;#&quot;&gt;More info&lt;/a&gt;' //tooltip content</p>
                 </div>
               </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns" id="sectionAuthor">
          <div class="content">
            <h2>Author</h2>
            <h6>Tony Barnes</h6>
            <p><a href="http://tonybarnes.me">tonybarnes.me</a></p>
            <p><a href="http://github.com/ttbarnes/">github</a></p>
            <p><a href="http://twitter.com/ttbarnes">@ttbarnes</a></p>
            
          </div>
        </div>
      </div>
      <script src="demo_assets/template/vendor/zepto.js"></script>  
      <script src="demo_assets/template/vendor/jquery.js"></script>
      <script src="demo_assets/template/foundation.min.js"></script>
      <script>
        $(document).foundation();
      </script>
      <script src="demo_assets/listIconManipulator/scripts/listIconManipulator.1.1.2.min.js"></script>
      <script src="demo_assets/listIconManipulator/scripts/demo.js"></script>
  </div>  
</div>