<!--
<link rel="stylesheet" href="demo_assets/listIconManipulator/styles/foundation.css">
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="demo_assets/activeHoverStates/styles/demo.css">
<link rel="stylesheet" href="demo_assets/activeHoverStates/styles/activeHoverStates.styles.min.css">
<script src="demo_assets/template/vendor/custom.modernizr.js"></script>
-->
<link rel="stylesheet" href="demo_assets/portrolio/styles/demo.css" />
<link rel="stylesheet" href="demo_assets/portrolio/styles/portrolio.css" />

<div id="containerMiddle">
  <div class="row">
    <div class="header">
      <h1>Portrolio<span> 1.1.2 Alpha</span></h1>
      <p>A responsive portfolio layout with vertical overlay, dynamic height calculation, tooltips, colour schemes and more!</p>
    </div>
    <div class="wrapper">
      <div class="portrolio" id="portrolioWrapper">
        <div class="portrolioInnerWrapper">
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/001.jpg" alt="Thailand" />
            <span class="title">Thailand</span>
          </div>
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/002.jpg" alt="Boat trip" />
            <span class="title">Boat trip</span>
          </div>
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/003.jpg" alt="Beach" />
            <span class="title">Beach</span>
          </div>
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/004.jpg" alt="Amazing scenery" />
            <span class="title">Amazing scenery</span>
          </div>
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/005.jpg" alt="Tranquility" />
            <span class="title">Tranquility</span>
          </div>
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/006.jpg" alt="Banana boat" />
            <span class="title">Banana boat</span>
          </div>
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/007.jpg" alt="Night time" />
            <span class="title">Night time</span>
          </div>
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/008.jpg" alt="New pet" />
            <span class="title">New pet</span>
          </div>
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/009.jpg" alt="Canada" />
            <span class="title">Canada</span>
          </div>
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/010.jpg" alt="Stream of water" />
            <span class="title">Stream of water</span>
          </div>
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/011.jpg" alt="Woodland walk" />
            <span class="title">Woodland walk</span>
          </div>
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/012.jpg" alt="One way" />
            <span class="title">One way</span>
          </div>
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/013.jpg" alt="Lake Louise" />
            <span class="title">Lake Louise</span>
          </div>
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/014.jpg" alt="London" />
            <span class="title">London</span>
          </div>
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/015.jpg" alt="Favourite park bench" />
            <span class="title">Favourite park bench</span>
          </div>
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/016.jpg" alt="Last Saturday" />
            <span class="title">Last Saturday</span>
          </div>
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/017.jpg" alt="Rome" />
            <span class="title">Rome</span>
          </div>
          <div class="item">
            <img src="../demo_assets/portrolio/images/main/018.jpg" alt="Big tree roots" />
            <span class="title">Big tree roots</span>
          </div>
          
        </div>
      </div>
      <div class="bottom">
        <p>Author: <a href="http://tonybarnes.me" title="tonybarnes.me">Tony Barnes</a></p>
        <p>Check it out and download from <a href="#" target="_blank">Github</a></p>
        <p class="last">Photography by <a href="mailto:armand@rozanski.pro" title="armand@rozanski.pro" target="_blank">Armand Rozanski</a> and <a href="http://alexbarnes.me.uk" title="alexbarnes.me.uk" target="_blank">Alexander Barnes</a></p>
      </div>
    </div>
    <div class="footer">
      <h2>&#8249;/div&#8250;</h2>
    </div>
  </div> 
</div>

<script type="text/javascript" src="../demo_assets/portrolio/scripts/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../demo_assets/portrolio/scripts/jquery.inview.min.js"></script>
<script type="text/javascript" src="../demo_assets/portrolio/scripts/media.match.min.js"></script>
<script type="text/javascript" src="../demo_assets/portrolio/scripts/portrolio.1.1.2.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
  //$('#portrolioWrapper').Portrolio();
  $('#portrolioWrapper').Portrolio({
    columnsNo:3, //3, 6
    activeHoverStates: {
      dim:true,
      toolTip:true,
      toolTipSlide:true,
      popup:true
    },
    //colorScheme:'darkBlue' //colour schemes: darkBlue lightBlue, black, white, grey, none (transparent, white text)
    //colorScheme:'lightBlue'
    //colorScheme:'black'
    //colorScheme:'white'
    //colorScheme:'grey'
    //colorScheme:'none'
  });
});
</script>