/********************************
* List Icon Manipulator 1.1.1
	* Custom bullet points and list icons
	* http://github.com/ttbarnes/List-Icon-Manipulator
	*
	* Author: Tony Barnes
	* http://tonybarnes.me
	* No license or copyright - do what you like
	*
	* Last updated: 15/10/2013
  ********************************
  plugin styles
**********************************/

ul,
ol {
  margin:0;
  padding:0;
  li {
	  padding:5px 0;
	}
	ul,
	ol {		
		margin:0;
		padding:0;
	}
}
ul {
	list-style-type:disc;
}
ol {
	list-style-type:decimal;
}

.listIconManipulator {
  text-align:left;
	list-style-type:none;
	margin:0;
	padding-left:0;
	padding-right:0;
	
	li {
		span.icon {
		  position:relative;
			color:darkred;
			padding-right:10px;
			
			img {
			  max-width:34px;
			}
			
			div.toolTip {
				color:#eee;
				border:solid 1px #000;
				display:block;
				position:absolute;
				z-index:7;
				top:-23px;
				left:1.4em;
				min-width:280px;
				padding:0.2em;
				font-size:0.8em;
				background:#151515;
				text-align:center;
				box-shadow:0 5px 3px #000;
				-moz-box-shadow:0 5px 3px #000;
				-webkit-box-shadow:0 5px 3px #000;
				opacity:0.9;
				a {
					color:#F4AC0C;
				}
			}
		}
		span.content {
			text-align:justify;
			z-index:8;
		}
		&.active {
			span.content {
				opacity:0.4;
			}
		}
	}
}

@media(max-width:1000px){
	div.listIconManipulatorExample {
		.listIconManipulator {
			li {
				span.icon {
					div.toolTip {
						font-size:0.825em;
					}
				}
			}
		}
	}
}