@import './variables.scss';

.bm-burger-button {
  position: fixed;
  top: 1em;
  left: 2em;
  width: 2.5em;
  height: 2em;
}

.bm-burger-bars {
  background: $white;
  height: 10% !important;
}

.bm-burger-bars-hover {
  opacity: 1 !important;
}

.bm-cross-button {
  position: fixed !important;
  top: .7em !important;
  right: 0 !important;
  left: .5em !important;
  width: 80px !important;
  height: 50px !important;
  text-align: center;
  cursor: pointer;

  @media (min-width: $bp-large) {
    display: none;
  }
  > div {
    right: 0 !important;
  }
  > span {
    top: 0 !important;
    right: 0 !important;
    position: initial !important;
  }
}

.bm-cross {
  background: $white;
  width: .2em !important;
  height: 2.7em !important;
}

.bm-menu-wrap {
  transition: all .1s ease !important;
}

.bm-menu {
  background: $black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.5);
}
