.uk-export-finance {
  @include theme($white, $black);
  border: solid 2px #000;
}

.foundry4 {
  @include theme(#6853A2, $white);
}

.world-remit {
  @include theme(#813FD6, $white);
}

.ihs-markit {
  @include theme(#33383E, $white);
}

.crypto-reports-combiner {
  @include theme(#D1DDE6, $black);
}

.saranac {
  @include theme(#2E2D2E, $white);
}

.trainline {
  @include theme(#21314D, $white);
}

.dvla {
  @include theme(#0B0C0C, $white);
}

.mara-explorers {
  @include theme(#9DB197, #111010);
}

.propax-malaysia {
  @include theme(#01633D, $white);
}

.plantstove {
  @include theme(#D1DDE6, $black);
}

.boots-betalabs {
  @include theme($white, #151961);
  border: solid 2px #151961;
}

.lantum {
  @include theme(#03254E, $white);
}

.cathy-brown-v2 {
  @include theme(#1F1F1F, $white);
}

.john-lewis {
  @include theme($white, #5C8017);
  border: solid 2px #5C8017,
}

.powa {
  @include theme(#007ACC, $white);
}

.secret-project {
  @include theme($black, $white);
}

.foolproof {
  @include theme(#2E2E2E, $white);
}

.women-in-jazz-media {
  @include theme(#004AAD, $white);
}

.fiona-ross {
  @include theme(#0A0A0A, $white);
}

.fifthweek {
  @include theme(#D1DDE6, $black);
}

.mean-tweets {
  @include theme(#F3DD1D, $black);
}

.angular-ticker {
  @include theme($angular, $white);
}

.angular-poc-demos {
  @include theme($angular, $white);
}

.sass-quick-start {
  @include theme(#D70779, $white);
}

