.container {
  max-width: 820px;
  margin: 0 auto;
  padding: 2em;
}

.container-large-padding {
  padding: 2em;

  @media (min-width: 768px) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  @media (min-width: 1000px) {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}
