ul,
ol,
dl {
  list-style-type: none;
  margin: 0 0 1.5em 0;
  padding: 0 0 0 1em;
}

li {
  font-size: 1.2em;
}

.list-style-bullet {
  list-style-type: disc;
  padding-left: 1em;

  li {
    margin-bottom: 1em;
  }
}
