@import '@/styles/variables.scss';
@import '@/styles/selection.scss';

.tag-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 2em;
  padding: 0;
}

.tag-list-item {
  background: #D0D3D4;
  color: $black;
  padding: .5em .8em;
  margin-right: 1em;
  margin-bottom: 1em;
  font-size: 1em;
  @media (min-width: $bp-small) {
    font-size: 1.2em;
  }
}

.tag-list-item-dark {
  background: $black;
  color: $white;
  @include selectionDarkBackground();
}
