$black: #000;
$blue: #1D4289;
$blueLight: #0064FF;

$grey: #D0D3D4;
$darkGrey: #636363;
$lightGrey: #F1F1F1;
$white: #FFF;
$yellow: #FFC845;

$bp-small: 600px;
$bp-medium: 768px;
$bp-medium-large: 1000px;
$bp-large: 1200px;
$bp-x-large: 1600px;

$sidebar-width: 300px;
