@import '../../styles/variables.scss';

.container {
  position: relative;
}

.extraTopPadding {
  padding-top: 4em;
  @media (min-width: $bp-large) {
    padding-top: 0;
  }
}

.pageHasSidebar {
  @media (min-width: $bp-large) {
    margin-left: $sidebar-width;
  }
}
