@import '../../styles/variables.scss';

.container {
  position: relative;
}

.pageHasSidebar {
  padding-top: 3em;
  
  @media (min-width: $bp-large) {
    padding-top: 0;
    margin-left: $sidebar-width;
  }
}
