@import '../../styles/variables.scss';

.header {
  background: $black;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em;
  @media (min-width: $bp-large) {
    display: none;
  }
}
