@import '../../../../styles/variables.scss';

.listContainer {
  margin: -1em;
  display: flex;
  flex-direction: column;

  @media (min-width: $bp-small) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
