@import '@/styles/variables.scss';

.innerContainer {
  max-width: 820px;
  margin: 0 auto;
  padding: 4em 2em 0 2em;
}

.containerLargePadding {
  padding: 2em;

  @media (min-width: 768px) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  @media (min-width: 1000px) {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.backgroundBlack {
  background: $black;
}

.backgroundBlue {
  background: $blue;
}

.backgroundGrey {
  background: $grey;
}

.backgroundLightGrey {
  background: $lightGrey;
}

.backgroundWhite {
  background: $white;
}

.backgroundYellow {
  background: $yellow;
}

.textBlack {
  color: $black;
}

.textWhite {
  color: $white;
}
