.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 14em;
  background: #000;
}

.nav {
  height: 100%;
}

.list {
  position: sticky;
  top: 1em;
  left: 0;
  padding-right: 2em;
}
