<ng-include src="'views/navbar.html'"></ng-include>

<div id="containerMiddle">
  <div class="row">  
    <div class="span4" style="text-align:center;">
	    <h1>ABOUT</h1>
      


      <ul class="skillset">
        <li class="axis">
          <div>Expert > </div>
          <div class="emptyLabel">&nbsp;</div>
          <div>Intermediate ></div>
          <div class="emptyLabel">&nbsp;</div>
          <div>Basic/learning ></div>
        </li>
          <li class="bar html">
          <div class="skill">HTML (4/5)</div>
          <div class="rating">9<span>/10</span></div>
        </li>
          <li class="bar css">
          <div class="skill">CSS (2/3)</div>
          <div class="rating">9<span>/10</span></div>
        </li>
          <li class="bar jquery">
          <div class="skill">jQuery</div>
          <div class="rating">8<span>/10</span></div>
        </li>
          <li class="bar javascript">
          <div class="skill">JavaScript</div>
          <div class="rating">6<span>/10</span></div>
        </li>
          <li class="bar angular">
          <div class="skill">AngularJS</div>
          <div class="rating">3<span>/10</span></div>
        </li>
          <li class="bar mobile">
          <div class="skill">Mobile</div>
          <div class="rating">8<span>/10</span></div>
        </li>
      </ul>




      <!--
      <h2>Who am I</h2>
      <p>Some text here...</p>
      
      <h2>Skills</h2>
      <p>Lots of data here...</p>
      
      <h2>Experience</h2>
      <p>Stuff here...</p>
      
      -->

      <!--<h2>Social</h2>
      <p>Icon links here or link to contact page?</p>-->
      
      
      
    </div>  
  </div>  
</div>

<ng-include src="'views/footer.html'"></ng-include>