<ng-include src="'views/navbar.html'"></ng-include>

<div id="containerMiddle">
  <div class="row">
    <div class="span4">
      <div class="row aboutIntro">
        <div class="col-md-12">
          <div class="col-md-12">
            <p>I am a passionate front end developer with many ambitions. With over 6 years of experience, I love building unique and immersive interfaces with clean code. I have worked with many different types of companies and teams - startups, SMEs, agencies and large enterprises. I have a lot of experience with several market sectors such as ecommerce, book publishing, pet care, mortgage comparison, marketing and many more.</p>
            <p>I have a deep familiarity with full project life cycles - from wireframes, prototypes and MVPs to delivering international, localised and scalable applications. I have led and grown front end teams - collaborating and managing both business and development requirements, whilst ensuring smooth UX and UI. I have also managed the refactoring and localisation of projects reaching a global audience of millions.</p>
            <p>I really enjoy collaborating and contributing to <a href="http://github.com/ttbarnes" target="_blank">open source projects</a>. I've worked closely with many developers in various environments such as Ruby on Rails, typically utilising agile/scrum methodologies. Thriving on the latest technologies, I freelance and study in almost all of my spare time – I am constantly improving my skill set. At the moment i'm mastering AngularJS and learning the MEAN stack. My next venture will be React.</p>
          </div>
        </div>
      </div>
      <div class="row skillsetChartWrapper">
        <div class="col-md-12">
          <h4><span>Main skills</span></h4>
          <div class="col-md-12">
            <ul class="skillsetChart">
              <li class="axis">
                <div>Expert > </div>
                <div class="emptyLabel">&nbsp;</div>
                <div>Intermediate ></div>
                <div class="emptyLabel">&nbsp;</div>
                <div>Basic/learning ></div>
              </li>
                <li class="bar html">
                <div class="skill">HTML (4/5)</div>
                <div class="rating">9<span>/10</span></div>
              </li>
                <li class="bar css">
                <div class="skill">CSS (2/3)</div>
                <div class="rating">9<span>/10</span></div>
              </li>
                <li class="bar mobile">
                <div class="skill">RWD, Mobile</div>
                <div class="rating">9<span>/10</span></div>
              </li>
                <li class="bar jquery">
                <div class="skill">jQuery</div>
                <div class="rating">8<span>/10</span></div>
              </li>
                <li class="bar javascript">
                <div class="skill">JavaScript</div>
                <div class="rating">7<span>/10</span></div>
              </li>
              <li class="bar angular">
                <div class="skill">AngularJS</div>
                <div class="rating">7<span>/10</span></div>
              </li>
              <li class="bar node-express">
                <div class="skill">Node <br/>Express</div>
                <div class="rating">5<span>/10</span></div>
              </li>
              <li class="bar mean">
                <div class="skill">MEAN <br/>stack</div>
                <div class="rating">5<span>/10</span></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row skillsetList">
        <div class="col-md-12">
          <h4><span>I also know about these</span></h4>
          <div class="col-md-12">
            <ul class="ratingKey">
              <li rating="expert-advanced"><span>Expert/advanced</span></li>
              <li rating="intermediate"><span>Intermediate</span></li>
              <li rating="basic-learning"><span>Basic and/or learning</span></li>
            </ul>
          </div>
          <div class="col-md-12">
            <div class="col-md-4">
              <ul class="skills">
                <li>Coding</li>
                <li rating="expert-advanced"><span>Hand crafted, clean, semantic markup</span></li>
                <li rating="expert-advanced"><span>Mobile, Responsive (RWD)</span></li>
                <li rating="expert-advanced"><span>CSS - Sass, Less</span></li>
                <li rating="expert-advanced"><span>Frameworks like Bootstrap, Foundation</span></li>
                <li rating="intermediate"><span>Karma, Jasmine, Protractor</span></li>
                <li rating="intermediate"><span>Grunt, Gulp</span></li>
                <li rating="intermediate"><span>Bower, NPM</span></li>
                <li rating="intermediate"><span>Compass</span></li>
                <li rating="intermediate"><span>Yeoman</span></li>
                <li rating="intermediate"><span>CoffeeScript</span></li>
                <li rating="basic-learning"><span>MongoDB</span></li>
                <li rating="basic-learning"><span>JSON, AJAX, XML</span></li>
                <li rating="basic-learning"><span>Mustache, Handlebars</span></li>
                <li rating="basic-learning"><span>D3.js</span></li>
                <li rating="basic-learning"><span>Ruby on Rails, .NET environments</span></li>
                <li rating="basic-learning"><span>MVC</span></li>
            </ul>
            </div>
            <div class="col-md-4 tools">
              <ul class="skills">
                <li>Workflow, processes</li>
                <li rating="expert-advanced"><span>Automating front-end workflow</span></li>
                <li rating="expert-advanced"><span>Agile, scrum methodologies</span></li>
                <li rating="intermediate"><span>Version control - Git, Mercurial, SVN</span></li>
                <li rating="intermediate"><span>Atlassian tools, Github, many more</span></li>
                <li rating="intermediate"><span>TDD</span></li>
                <li rating="intermediate"><span>BDD</span></li>
                <li rating="intermediate"><span>Firebase deployment</span></li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="skills">
                <li>Other</li>
                <li rating="expert-advanced"><span>Custom UI frameworks, templates</span></li>
                <li rating="expert-advanced"><span>Web design</span></li>
                <li rating="expert-advanced"><span>Creative direction, UI, UX</span></li>
                <li rating="expert-advanced"><span>Photoshop, Fireworks, Sketch</span></li>
                <li rating="expert-advanced"><span>Optimisation - speed, size, efficiency</span></li>
                <li rating="expert-advanced"><span>Compatibility, Cross-browser/platform</span></li>
                <li rating="expert-advanced"><span>Accessibility</span></li>
                <li rating="intermediate"><span>CMSs - Wordpress, Magento, Joomla</span></li>
                <li rating="intermediate"><span>Logos, branding</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row randomStuff">
        <div class="col-md-12">
          <h4><span>Something random</span></h4>
          <div class="col-md-12">
            <p>I love tea and cycling. I am also a musician - I create dance music and I love playing the piano. I'm pretty active on Twitter <a ng-href="https://twitter.com/ttbarnes" target="_blank">@ttbarnes</a>. My favourite biscuits are McVitie's Chocolate Digestives and I'm extremely quick on a mac.</p>
          </div>
        </div>
      </div>

      <div class="row row-btn-lg">
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="buttons">
              <a href="#/contact/" class="btn btn-lg btn-blue-lightest">Contact</a>
              <a href="#/showcase/" class="btn btn-lg btn-blue-lightest">View showcase</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<ng-include src="'views/footer.html'"></ng-include>