<ng-include src="'views/navbar.html'"></ng-include>

<div id="containerMiddle">
  <div class="row smallBox">
    <div class="col-md-12">
    	<p>Currently <span ng-if="tonyDetails.available">available</span><span ng-if="!tonyDetails.available">unavailable</span> <span ng-if="tonyDetails.availableCopy"> until {{tonyDetails.availableCopy}}</span>. I'd love to talk, i'm very friendly!</p>
      <a class="contactAddress" href="mailto:{{tonyDetails.email}}">{{tonyDetails.email}}</a>
    </div>
  </div>
</div>

<ng-include src="'views/footer.html'"></ng-include>