<footer>
	<ul class="socialIcons">
		<li><a href="#"><i class="fi-social-twitter"></i><span>Twitter</span></a></li>
		<li><a href="#"><i class="fi-social-github"></i><span>Github</span></a></li>
		<li><a href="#"><i class="fi-social-linkedin"></i><span>LinkedIn</span></a></li>
	</ul>

  <nav class="navbar navbar-default navbar-static-bottom" role="navigation">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/showcase/">Showcase</a></li>
      <li><a href="#/about/">About</a></li>
      <li><a href="#/contact/">Contact</a></li>
    </ul>
  </nav>
</footer>