<div id="containerMiddle">
  <div class="jumbotron">
    <div class="bigBg"></div>
    <div class="innerBoxWrap">
      <div class="innerBox">
        <img class="headshot" ng-src="images/headshot-small.jpg" alt="Tony Barnes" />
        <h1>Hello! <span>I'm Tony.</span></h1>
        <h2>
          <span class="iAmA">I am a passionate front end developer <span class="last">with many ambitions.</span> </span>
          <!--<span class="iAlso">I also design <span>and write music.</span></span></h2>-->
      </div>
    </div>
    
  </div>

  <div class="row">
    <div class="row subIntro coding">
      <div class="col-md-12">
        <h3><span>I work hard to create clean and beautiful web applications</span></h3>
        <div class="col-md-12">
          <p>With over 5 years of extensive experience, I love building unique and immersive experiences. I have worked with many different companies and teams - from startups and small-medium businesses to large enterprise's delivering scalable, localised applications to global audiences. Thriving on the latest technologies and best practices, I can be a perfectionist at times.</p>
        </div>
      </div>
    </div>
    <div class="row subIntro design" id="subIntroDesign">
      <div class="col-md-12">
        <h3><span>I also design and write music</span></h3>
        <div class="col-md-12">
          <p>I'm very creative. Whilst I am predominantly a developer, I can also design. I can evolve an idea to become an awesome website, web app - with or without new branding. If i'm not coding in my spare time, I enjoy producing music and playing the piano.</p>
        </div>
      </div>
    </div>
     
     <div class="row subIntro row-btn-lg">
      <div class="col-md-12">
        <div class="col-md-12">
          <div class="buttons">
            <a href="#/about/" class="btn btn-lg btn-blue-lightest">Learn more about Tony</a>
            <a href="#/showcase/" class="btn btn-lg btn-blue-lightest">View showcase</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row recentReleases" id="recentReleases">
    <div class="span4">
      <h3>Recently released</h3>
      <ul class="projects">
        <li class="col-md-4" ng-repeat="project in projects | limitTo:4" class="thumbnail phone-listing" active-hover>
          <div class="cont">
            <a href="#/showcase/{{project.id}}" class="thumb">
              <img ng-src="images/showcase/{{project.id}}/01thumb.jpg" alt="{{project.name}}">
              <div class="miniPanel">
                <h4>{{project.name}}</h4>
              </div>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<ng-include src="'views/footer.html'"></ng-include>