<div tbDirective></div>

<div id="containerMiddle">
  <div class="jumbotron">
    <img src="images/intro.jpg" alt="Introduction"/>
    <h1>Tony Barnes</h1>
    <h2><span class="first">Front end developer</span><span class="last">, designer</span></h2>
    <!--<div class="buttons">
      <a href="#/showcase/" class="btn btn-primary btn-lg">Showcase</a>
      <a href="#/about/" class="btn btn-primary btn-lg">About</a>
    </div>-->
  </div>
  <div class="row buildFor">
    <div class="span4" style="padding-left:30px;">
      <br/>
      <br/>
      <br/>
      <br/>
      <h3>I write code for the web (or something)</h3>
      <p>I am an ambitious front end developer that loves the internet, technology and design. I have worked in a wide range of market sectors such as ecommerce, mortgage comparison, marketing and many more. </p>
      <p>X years of experience</p>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
  </div>

  <div class="row buildFor">
    <div class="span4" style="padding-left:30px;">
      <h3>I also design</h3>
      <p>stuff here</p>
      <br/>
      <br/>
    </div>
  </div>

  <div class="row row-btn-lg">
    <div class="span4">
      <!--<a href="#/showcase/" class="btn btn-primary btn-lg">View all projects</a>-->
      <br/>
      <div class="buttons">
        <a href="#/about/" class="btn btn-primary btn-lg" style="padding:20px;width:49%;">Read more about me</a>
        <a href="#/showcase/" class="btn btn-primary btn-lg" style="padding:20px;width:49%;">View showcase</a>
      </div>

      <br/>
      <br/>      
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
  </div>

  <div class="row recentReleases" id="recentReleases">
    <div class="span4">
      <h3>Recently released</h3>
      <ul class="projects">
        <li class="col-md-4" ng-repeat="project in projects | limitTo:4" in-view="lineInView($index, $inview, $inviewpart)" class="thumbnail phone-listing">
          <div class="cont">
            <a href="#/showcase/{{project.id}}" class="thumb"><img ng-src="images/showcase/{{project.id}}/01thumb.jpg" alt="{{project.name}}"/></a>
            <div class="tags">
              <div class="col-md-3 {{child.tag}}" ng-repeat="child in project.tech">{{child.tag}}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<ng-include src="'views/footer.html'"></ng-include>