<ng-include src="'views/headerNav.html'"></ng-include>
<style type="text/css">
.repeat-item:hover {
	opacity:1;
}
/*new!*/
.toggle{
	opacity:0.85;
  background:#CCC;
  -webkit-transition:ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.toggle:hover {
	opacity:100;
}
.toggle.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
/*	display:none;*/
  opacity:0;
}
.toggle.ng-enter-active {
  opacity: 0.90;
}
 
.toggle.ng-leave {
	display:none;
  opacity: 0;
}
</style>
<div id="containerMiddle">
  <div class="row">  
	    <div class="span4">
      <div class="showcaseGalleryNav" ng-model="orderPop">
        <span ng-click="myFilter = null;app.toggle=!app.toggle" value="0">All</span>
        <span ng-click="myFilter = {type: 1};app.toggle=!app.toggle" value="1">Ecommerce</span>
        <span ng-click="myFilter = {type: 2};app.toggle=!app.toggle" value="2">Static, 'informative'</span>
        <span ng-click="myFilter = {type: 3};app.toggle=!app.toggle" value="3">Holding, landing pages</span>
        <span ng-click="myFilter = {type: 4};app.toggle=!app.toggle" value="4">Brand identity</span>
        <span>Designs, mockups</span>
      </div>
		</div>  
  </div>  
  <div class="row">
    <div class="span4">
      <ul ng-controller="showcaseGrid" class="showcaseGalleryGrid">
        <li class="item repeat-item toggle" ng-repeat="person in phones | filter:myFilter | orderBy:something">
          <a href="#/showcase/{{person.id}}">
            <img ng-src="{{person.imageUrl || 'images/showcase/noImg.jpg'}}" alt="{{person.name}}"/>
          </a>
        </li>
      </ul>
	  </div>
  </div>
</div>

<ng-include src="'views/footer.html'"></ng-include>