<ng-include src="'views/navbar.html'"></ng-include>

<div id="containerMiddle">
  
  
  <div class="row rowHeading">
    <div class="span4">
		  <h2>{{project.name}}</h2>
    </div> 
  </div>
  <div class="row">
  
    <div class="col-md-6 left">
		  <img ng-src="images/showcase/{{project.id}}/01.jpg" alt="{{project.name}}"/>
    </div>  
    <div class="col-md-6 right">
      <ul class="dateCat">
        <li>{{project.category}}</li>
        <li>{{project.date}}</li>
      </ul>
      <br />
      <ul>
        <li><strong>Tech</strong></li>
        <li>{{project.tech}}</li>
      </ul>   
    </div> 
  </div>
  <div class="row">
	  <div class="span4">
  		<a href="#" class="btn btn-primary">Visit website</a>
    </div>
  </div>
  
  
  <h3>Output</h3>
  <p>{{project.output}}</p>
  <p>{{project.thoughts}}</p>

  <!--
  <ul class="phone-thumbs">
    <li ng-repeat="img in phone.images">
      <img ng-src="{{img}}">
    </li>
  </ul>
  -->
  <!--
  <ul class="specs">
    <li>
      <span>Availability and Networks</span>
      <dl>
        <dt>Availability</dt>
        <dd ng-repeat="availability in phone.availability">{{availability}}</dd>
      </dl>
    </li>
    <li>
      <span>Battery</span>
      <dl>
        <dt>Type</dt>
        <dd>{{project.battery.type}}</dd>
        <dt>Talk Time</dt>
        <dd>{{project.battery.talkTime}}</dd>
        <dt>Standby time (max)</dt>
        <dd>{{project.battery.standbyTime}}</dd>
      </dl>
    </li>
    <li>
      <span>Storage and Memory</span>
      <dl>
        <dt>RAM</dt>
        <dd>{{project.storage.ram}}</dd>
        <dt>Internal Storage</dt>
        <dd>{{project.storage.flash}}</dd>
      </dl>
    </li>
    <li>
      <span>Connectivity</span>
      <dl>
        <dt>Network Support</dt>
        <dd>{{project.connectivity.cell}}</dd>
        <dt>WiFi</dt>
        <dd>{{project.connectivity.wifi}}</dd>
        <dt>Bluetooth</dt>
        <dd>{{project.connectivity.bluetooth}}</dd>
        <dt>Infrared</dt>
        <dd>{{project.connectivity.infrared}}</dd>
        <dt>GPS</dt>
        <dd>{{project.connectivity.gps}}</dd>
      </dl>
    </li>
    <li>
      <span>Android</span>
      <dl>
        <dt>OS Version</dt>
        <dd>{{project.android.os}}</dd>
        <dt>UI</dt>
        <dd>{{project.android.ui}}</dd>
      </dl>
    </li>
    <li>
      <span>Size and Weight</span>
      <dl>
        <dt>Dimensions</dt>
        <dd ng-repeat="dim in phone.sizeAndWeight.dimensions">{{dim}}</dd>
        <dt>Weight</dt>
        <dd>{{project.sizeAndWeight.weight}}</dd>
      </dl>
    </li>
    <li>
      <span>Display</span>
      <dl>
        <dt>Screen size</dt>
        <dd>{{project.display.screenSize}}</dd>
        <dt>Screen resolution</dt>
        <dd>{{project.display.screenResolution}}</dd>
        <dt>Touch screen</dt>
        <dd>{{project.display.touchScreen}}</dd>
      </dl>
    </li>
    <li>
      <span>Hardware</span>
      <dl>
        <dt>CPU</dt>
        <dd>{{project.hardware.cpu}}</dd>
        <dt>USB</dt>
        <dd>{{project.hardware.usb}}</dd>
        <dt>Audio / headphone jack</dt>
        <dd>{{project.hardware.audioJack}}</dd>
        <dt>FM Radio</dt>
        <dd>{{project.hardware.fmRadio}}</dd>
        <dt>Accelerometer</dt>
        <dd>{{project.hardware.accelerometer}}</dd>
      </dl>
    </li>
    <li>
      <span>Camera</span>
      <dl>
        <dt>Primary</dt>
        <dd>{{project.camera.primary}}</dd>
        <dt>Features</dt>
        <dd>{{project.camera.features.join(', ')}}</dd>
      </dl>
    </li>
    <li>
      <span>Additional Features</span>
      <dd>{{project.additionalFeatures}}</dd>
    </li>
  </ul>  
</div>
-->

<ng-include src="'views/footer.html'"></ng-include>