<ng-include src="'views/navbar.html'"></ng-include>

<div id="containerMiddle">

  <div class="row mainContent">

    <div class="row topHeading">
      <div class="col-md-12">
        <h2><span>{{project.name}}<span class="date">&#40;{{project.date}}&#41;</span></span></h2>
      </div>
    </div>

    <div class="row imgWrap">
      <div class="col-md-12">
        <img ng-src="{{imageUrl}}" alt="{{project.name}}"/>
      </div>
    </div>
    <div class="row">
      <div class="row" ng-if="project.moreInfoSoon == true">
        <div class="col-md-12 moreInfoSoon">
          <p>More information coming soon.</p>
        </div>
      </div>
      <div ng-if="project.moreInfoSoon === undefined">
        <div class="row">
          <div class="col-md-12 deliver">
            <h4><span>{{project.deliverTitle}}</span></h4>
            <div class="col-md-12">
              <ul>
                <li ng-repeat="child in project.deliverItems">{{child.item}}</li>
              </ul>
            </div>
            <div class="col-md-12">
              <p>Utilising:</p>
              <div class="row tagsWrap">
                <div class="tags">
                  <div class="col-md-3 {{child.tag}}" ng-repeat="child in project.tech">{{child.tag}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="project.how.thoughts">
          <div class="col-md-12 story">
            <h4><span>{{project.how.title}}</span></h4>
            <div class="col-md-12">
              <p>{{project.how.content}}</p>
              <div ng-bind-html="project.how.thoughts"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-btn-lg">
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="buttons">
              <a ng-if="project.liveUrl != undefined" href="{{project.liveUrl}}" class="btn btn-lg btn-blue-lightest" target="_blank">Visit the live website</a>
              <a href="#/showcase/" class="btn btn-lg btn-blue-light">Back to showcase</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-include src="'views/footer.html'"></ng-include>