<ng-include src="'views/navbar.html'"></ng-include>

<div id="containerMiddle">
  <div class="row">  
    <div class="span4">
      <div class="btn-group tags">
        <button 
          type="button" 
          ng-repeat="category in categories"
          ng-model="selected[title]" 
          btn-checkbox 
          class="{{category}}"
          ng-class="{active: category == selectedCategory}"
          ng-click="setSelectedCategory(category);app.showcaseGalleryToggle=!app.showcaseGalleryToggle;">{{category}}</button>
      </div>      
    </div>
  </div>  
  <div class="row">
    <div class="span4">
      <ul class="showcaseGalleryGrid">
        <li class="item repeat-item showcaseGalleryToggle col-xs-3 col-md-2" ng-repeat="project in projects | filter:byCategory">
          {{project.name}}
          <a href="#/showcase/{{project.id}}">
            <img ng-src="{{project.imageUrl || 'images/showcase/noImg.jpg'}}" alt="{{project.name}}"/>
          </a>
        </li>
      </ul>
	  </div>
  </div>
</div>

<ng-include src="'views/footer.html'"></ng-include>