<ng-include src="'views/navbar.html'"></ng-include>

<div id="containerMiddle">
  
  <div class="row topHeading">
    <div class="col-md-6">
		  <h2>{{project.name}}</h2>
    </div>
    <div class="col-md-6 last">
      <div class="date">{{project.date}}</div>
    </div>

  </div>
  <div class="row mainContent">
    <div class="col-md-12">
		  <img ng-src="images/showcase/{{project.id}}/01.jpg" alt="{{project.name}}"/>
      <div class="tags">
        <div class="col-md-3 {{child.tag}}" ng-repeat="child in project.tech">{{child.tag}}</div>
      </div>
    </div>
    <div class="col-md-12 deliver">
      <h2>What did we deliver?</h2>
      <ul>
        <li ng-repeat="child in project.deliver">{{child.item}}</li>
      </ul>
    </div>
    <div class="col-md-12 story">
      <h2>How did we do it?</h2>
      <p>{{project.how}}</p>
      <div ng-bind-html="project.thoughts">{{project.thoughts}}</div>
      <a href="{{project.liveUrl}}" class="btn btn-primary">Visit website</a>
    </div>
  </div>
</div>
  
<ng-include src="'views/footer.html'"></ng-include>