<div id="containerMiddle">


  <div class="row">
    <div class="span4">
    	<h1>table2</h1>
			<hr/>
      <div ng-controller="testTableCtrl2" class="testTableCtrl">
      
      
      <h1>Filter by title</h1>
      <div class="btn-group">
          
      <button 
          type="button" 
          ng-repeat="category in categories"
          ng-model="selected[title]" 
          btn-checkbox 
          ng-class="{active: category == selectedCategory}" 
          ng-click="setSelectedCategory(category)">{{category}}</button>
      </div>
      
          <ul class="showcaseGalleryGrid">
            <!--<li class="item repeat-item toggle col-xs-3 col-md-2" ng-repeat="project in projects | filter:myFilter | orderBy:something">
              <a href="#/showcase/{{project.id}}">
                <img ng-src="{{project.imageUrl || 'images/showcase/noImg.jpg'}}" alt="{{project.name}}"/>
              </a>
            </li>-->
            <li class="item repeat-item toggle col-xs-3 col-md-2" ng-repeat="entry in entries | filter:byCategory">
	            {{entry.name}}
              <a href="#/showcase/{{project.id}}">
                <img ng-src="{{project.imageUrl || 'images/showcase/noImg.jpg'}}" alt="{{project.name}}"/>
              </a>
            </li>
            
          </ul>
          
      </div>
      

	  </div>
  </div>
</div>